/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/policy/PolicyPage.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.PolicyPage_layout__ja_j9 {
  background: #f5f7fb;
  min-height: 100vh;
}

.PolicyPage_content__HRiHp {
  max-width: 980px;
  margin: 0 auto;
  padding: 40px 16px;
}

.PolicyPage_card__bJW9s {
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

.PolicyPage_cardBody__q9OF8 {
  padding: 28px 24px;
}

.PolicyPage_mainTitle__DJpbJ {
  margin-bottom: 6px !important;
}

.PolicyPage_tightTitle__cqC4U {
  margin-top: 0 !important;
}


.PolicyPage_muted__Jn2q6 {
  margin: 0;
  color: #64748b;
}

.PolicyPage_divider__kv8B8 {
  border: 0;
  border-top: 1px solid #e5e7eb;
  margin: 24px 0;
}

.PolicyPage_paragraph__0_XsY {
  margin: 0 0 16px;
  color: #334155;
  line-height: 1.75;
}

.PolicyPage_paragraph__0_XsY ul {
  margin: 10px 0 0 20px;
  padding: 0;
}

.PolicyPage_paragraph__0_XsY li {
  margin: 6px 0;
}

